<div class="news">
  {% assign news = site.news | sort: 'date' | reverse %}

  {% assign proceedings = news | where_exp: "item", "item.category == "conference" %}
  {% assign talks = news | where_exp: "item", "item.category == "talk" %}
  {% assign local = news | where_exp: "item", "item.category == "local" %}

  {% assign sections = "Conference with proceedings| Talks, Seminars & Workshops|Local Highlights" | split: "|" %}
  {% assign categories = "proceedings|talks|local" | split: "|" %}

  {% for section in (0..2) %}
    <h2>{{ sections[section] }}</h2>
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
        {% assign current = categories[section] %}
        {% assign items = site.news | where: "category", current | sort: "date" | reverse %}
        {% for item in items %}
          <tr>
            <th scope="row" style="width: 20%">{{ item.date | date: '%b %d, %Y' }}</th>
            <td>
              {% if item.inline %}
                {% if item.selected_news %}
                  <span title="Highlighted News">⭐️</span>
                {% endif %}
                {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
              {% else %}
                {% if item.selected_news %}
                  <span title="Highlighted News">⭐️</span>
                {% endif %}
                <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% endfor %}

  {% assign has_bib = false %}
  {% for item in site.news %}
    {% if item.related_publications %}
      {% assign has_bib = true %}
    {% endif %}
  {% endfor %}

  {% if has_bib %}
    <h2>References</h2>
    <div class="publications">
      {% bibliography --cited %}
    </div>
  {% endif %}
</div>
