<div class="news">
  {% comment %} --- LATEST POSTS --- {% endcomment %}
  {% assign latest_news = site.news | sort: 'date' | reverse %}
  {% assign latest_limit = site.announcements.latest_limit %}
  {% if latest_limit %}
    {% assign latest_news = latest_news | slice: 0, latest_limit %}
  {% endif %}

  {% if latest_news != blank %}
    <h3>Latest News</h3>
    <table class="table table-sm table-borderless">
      {% for item in latest_news %}
        <tr>
          <th style="width: 20%">{{ item.date | date: "%b %d, %Y" }}</th>
          <td>
            {% if item.inline %}
              {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
            {% else %}
              <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}

  {% comment %} --- SELECTED POSTS --- {% endcomment %}
  {% assign selected_news = site.news | where_exp: "item", "item.selected-news == true" | sort: 'date' | reverse %}
  {% assign selected_limit = site.announcements.selected_limit %}
  {% if selected_limit %}
    {% assign selected_news = selected_news | slice: 0, selected_limit %}
  {% endif %}

  {% if selected_news != blank %}
    <h3>Highlighted News</h3>
    <table class="table table-sm table-borderless">
      {% for item in selected_news %}
        <tr>
          <th style="width: 20%">{{ item.date | date: "%b %d, %Y" }}</th>
          <td>
            {% if item.inline %}
              {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
            {% else %}
              <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
</div>
